#app {
	height: 100vh;
	background-color: rgb(131, 65, 167);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

header {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gif-container {
	background-color: gray;
	width: 80%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	object-fit: contain;
	height: 100%;
}
